html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: black;
}
body {
  background: #e7e5c0;
}
.panel {
  position: absolute;
}
.title p {
  font-size: 0.875em;
}
#autoRotate {
  top: 1%;
  left: 35%;
}
#pattern {
  top: 1%;
  left: 3%;
}
#table {
  top: 1%;
  right: 1%;
}
#configTitle {
  bottom: 5%;
  left: 5%;
}
