html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: black;
}
body {
  background: #e7e5c0;
}
.panel {
  position: absolute;
}
.title p {
  font-size: 0.875em;
}
.roundedButton {
  border-radius: 50% !important;
  width: 45px;
  height: 45px;
}
.buttonGroup {
  width: 100%;
}
.buttonText {
  display: inline-block;
  width: 50%;
}
#autoRotate {
  top: 25%;
  right: 1%;
}
#copyright {
  bottom: 2%;
  left: 2%;
}
#pattern {
  top: 7%;
  left: 3%;
  width: 9%;
}
#title {
  top: 1%;
  left: 1%;
}
#table {
  top: 1%;
  right: 1%;
  width: 6%;
}
#lights {
  top: 4.25%;
  left: 36%;
  width: 10%;
}
#configTitle {
  bottom: 5%;
  left: 5%;
}
@media (min-width: 768px) {
  #lights {
    top: 30%;
    left: 3%;
  }
  #autoRotate {
    top: 25%;
    right: 1%;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  #lights {
    top: 9.5%;
    left: 20%;
  }
  #autoRotate {
    top: 70%;
    right: 1%;
  }
}
@media (min-width: 992px) {
  #lights {
    top: 45%;
    left: 3%;
  }
  #autoRotate {
    top: 30%;
    right: 1%;
  }
}
@media (min-width: 1290px) {
  #table {
    top: 7%;
    left: 12.5%;
  }
  #autoRotate {
    top: 53%;
    left: 3%;
  }
  #lights {
    top: 42%;
    left: 3%;
  }
}
